.Noteinput {
  height: 15%;
  margin: 0 1rem;
  border-radius: 0.5rem;
  display: flex;
}
.makeNoteBtn {
  background: var(--p-green);
  border: none;
  border-radius: 0.5rem;
  flex: 1;
  margin-left: 2rem;
  font-weight: 1000;
  font-size: 2vh;
}
.Notetext {
  background: var(--p-grey);
  border-radius: 0.5rem;
  border: none;
  flex: 5;
  font-size: 2rem;
  padding-left: 1rem;
}
.Notetext:focus {
  outline: none;
}
