.menu {
  background: var(--p-white);
  min-height: 4rem;
  max-height: 10rem;
  width: 94vw;
  margin: 0 auto;
  border-radius: var(--brdrRadius);
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  gap: 1rem;
  min-width: 300px;
  box-sizing: border-box;
}
.makeTabBtn {
  background: var(--p-green);
  border: none;
  font-weight: 1000;
  border-radius: var(--brdrRadius);
  flex: 1;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  color: var(--p-grey);
  font-family: "Agdasima", sans-serif;
}
.makeTabBtn:active {
  transform: scale(0.95);
}
.makeTabBtn:hover {
  filter: brightness(1.05);
}
.Tabtext {
  background: var(--p-grey);
  border-radius: var(--brdrRadius);
  border: none;
  min-width: 15rem;
  flex: 3;
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--p-font);
  font-family: "Agdasima", sans-serif;
}
.Tabtext::placeholder {
  color: var(--p-green);
}
.Tabtext:focus {
  outline: none;
}
