.Notes {
  background: var(--p-grey);
  border-radius: 0.5rem;
  margin: 1rem;
  height: 80%;
  width: auto;
  overflow-x: hidden;
}
.note {
  background: var(--p-white);
  border-radius: 0.5rem;
  margin: 1rem;
  height: 14rem;
  padding: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.nTxt {
  flex: 9;
}
.nX {
  display: flex;
  margin-left: auto;
}
.deleteNote {
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  background: var(--p-green);
  font-weight: bold;
}
.deleteNote:active {
  transform: scale(0.8);
}
