.Notes {
  background: var(--p-grey);
  border-radius: 0.5rem;
  margin: 1rem;
  max-height: 35rem;
  width: auto;
  overflow-x: hidden;
  box-shadow: 0 0.2rem 0.5rem 0.01rem var(--p-shadow) inset;
}
.note {
  background: var(--p-white);
  border-radius: 0.5rem;
  margin: 1rem;
  height: auto;
  padding: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.2rem 0.5rem 0.01rem var(--p-shadow);
}
.note:hover {
  filter: brightness(1.1);
}
.nTxt {
  flex: 9;
}
.nX {
  display: flex;
  margin-left: auto;
}
.deleteNote {
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  background: var(--p-green);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.deleteNote:active {
  transform: scale(0.8);
}
.deleteNote:hover {
  filter: brightness(1.05);
  color: var(--p-black);
}
