.Tabs {
  margin: 0.5rem 0;
  height: 3rem;
  position: relative;
  width: 50%;
  display: flex;
}
.tab {
  background: var(--p-white);
  min-width: 40rem;
  flex: 1;
  justify-content: center;
  border-radius: var(--brdrRadius);
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}
.tab:hover {
  filter: brightness(1.2);
}
.carousel {
  position: relative;
  display: inline-flex;
  height: 4rem;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
