.App {
  background: var(--p-black);
  height: 100vh;
  width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
  padding-top: 1rem;
}
footer {
  width: 94vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  color: var(--p-white);
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--p-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--p-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
