body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  font-weight: 1000;
}
body > * {
  font-family: "Agdasima", sans-serif;
  color: var(--p-font);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --p-green: rgb(143, 145, 180);
  --p-black: rgb(90, 90, 100);
  --p-shadow: hsla(0, 0%, 0%, 0.2);
  --p-white: rgb(210, 211, 223);
  --p-grey: #eeeeee;
  --p-font: rgb(72, 75, 106);
  --brdrRadius: 0.25rem;
}
/*
  --p-green: rgb(147, 148, 165);
*/
